In [1]:
import pandas as pd

In [2]:
# Create a sample DataFrame
data = {
    "Meets 23B Markets Terms": [True, False, True],
    "Missing Root Order ID": [False, True, False],
    "uno_alert_id": [1, 2, 3]
}

df = pd.DataFrame(data)

# Concatenate columns into a new column
df["concatenated"] = (
    df["Meets 23B Markets Terms"].astype(str)
    + df["Missing Root Order ID"].astype(str)
    + df["uno_alert_id"].astype(str)
)

In [3]:
df

   Meets 23B Markets Terms  Missing Root Order ID  uno_alert_id concatenated
0                     True                  False             1   TrueFalse1
1                    False                   True             2   FalseTrue2
2                     True                  False             3   TrueFalse3

In [7]:
df_with_only_concatenated = df[
    [
        'concatenated'
    ]
]

In [8]:
df_with_only_concatenated

  concatenated
0   TrueFalse1
1   FalseTrue2
2   TrueFalse3

The memory address of the "df_with_only_concatenated" will be

different because a value that is different than "df" is being

assigned.

<br>

In this case, only the column from DataFrame "df" is being assigned rather

than "df".

Output the memory address of the initial DataFrame.

In [9]:
id(df)

140150797155472

Output the memory address of the new DataFrame.

In [10]:
id(df_with_only_concatenated)

140150797274832

If "df" was assigned to "df_with_only_concatenated", the

memory addresses of both DataFrames would be the same.

This can be validated by running the ensuing cells.

In [11]:
df_with_only_concatenated = df

In [12]:
id(df_with_only_concatenated)

140150797155472

In [13]:
id(df)

140150797155472