In [1]:
import pandas as pd

In [2]:
AOMTwithMarketDataSummaryFinal = pd.DataFrame(
  # {'column_name': ['column_value']}
  {'trade_date': ['dwh_business_date_short']}
)

Output the original DataFrame.

In [10]:
AOMTwithMarketDataSummaryFinal

         dwh business date
0  dwh_business_date_short

Renaming the column from "trade_date" to "dwh business date"

without assigning the return value won't change anything.

In [4]:
AOMTwithMarketDataSummaryFinal.rename(columns={"trade_date": "dwh business date"})

         dwh business date
0  dwh_business_date_short

The DataFrame can be outputted to validate

that the column has not been renamed.

In [6]:
AOMTwithMarketDataSummaryFinal

                trade_date
0  dwh_business_date_short

This time assign the return value to the DataFrame.

In [7]:
AOMTwithMarketDataSummaryFinal = AOMTwithMarketDataSummaryFinal.rename(columns={"trade_date": "dwh business date"})

Output the DataFrame again to confirm that the column name changed.

In [8]:
AOMTwithMarketDataSummaryFinal

         dwh business date
0  dwh_business_date_short