The Pandas Python library has a read_excel() function that accepts a string literal <br>
consisting of the path to the excel spreadsheet, and returns a DataFrame. <br>

Supports the following file extensions read from a local file system or URL: <br>
xls, xlsx, xlsm, xlsb, odf, ods and odt

Supports an option to read a single sheet or a list of sheets. <br>

Rows can be dropped from a dataset with the drop() method if they contain <br>
unwanted data: <br>
data_frame_name.drop(index=data_frame_name.index[0], axis=0, inplace=True)

Assigning 0 to the "axis" parameter indicates that labels from rows will be dropped.

Assigning True to the "inplace" parameter will perform the operation in the <br>
original DataFrame rather than return a copy of the updated DataFrame.

Objective: <br>
Write a program that imports data from an excel spreadsheet and uses it to create a DataFrame.

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('./HDI_Table.xlsx')

To view all of the rows in DataFrame:

In [3]:
# pd.set_option("display.max_rows", 999)

Drop the rows containing unwanted data.

In [4]:
df.drop(df.index[:3], inplace=True)

In [5]:
df.drop(df.index[198:], inplace=True)

In [6]:
df.drop([6, 73, 123, 168], inplace=True)

Drop the columns containing unwanted data.

In [7]:
df.drop(df.columns[[0, 3, 5, 7, 9, 11, 12, 13, 14]], axis=1, inplace=True)

In [8]:
df.reset_index()

,index,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10
0,3,NaN,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita
1,4,Country,Value,(years),(years),(years),(2017 PPP $)
2,5,NaN,2021,2021,2021,2021,2021
3,7,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454
4,8,Norway,0.961,83.2339,18.1852,13.00363,64660.10622
...,...,...,...,...,...,...,...
189,196,Burundi,0.426,61.6627,10.722722,3.129267,731.786709
190,197,Central African Republic,0.404,53.8947,8.040172,4.334,966.058611
191,198,Niger,0.4,61.5763,6.957112,2.116717,1239.866936
192,199,Chad,0.394,52.5254,8.035914,2.573774,1364.169417
193,200,South Sudan,0.385,54.9752,5.54251,5.72614,767.787

In [18]:
# Display all of the columns in the DataFrame.
df.columns

Index(['Table 1. Human Development Index and its components ', 'Unnamed: 2',
       'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 8', 'Unnamed: 10'],
      dtype='object')

In [19]:
# Display all of the rows in the DataFrame.
df.index

Index([  3,   4,   5,   7,   8,   9,  10,  11,  12,  13,
       ...
       191, 192, 193, 194, 195, 196, 197, 198, 199, 200],
      dtype='int64', length=194)

In [22]:
# df[] = df['Gross national income (GNI) per capita'].apply(lambda x: f"{x:,.2f}")

In [12]:
df.columns[[0]]

Index(['Table 1. Human Development Index and its components '], dtype='object')

Extract the value in the first row and second column.

In [21]:
# df.iloc[row_index, column_index]
df.iloc[0, 1]

'Human Development Index (HDI) '

Construct a new DataFrame.

In [ ]:
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                  columns=[df.iloc[0, 1], df.iloc[0, 2], df.iloc[0, 3], df.iloc[0, 4], df.iloc[0, 5]])

In [24]:
# Dictionary
data_set = {df.iloc[0, 1]: df[]}

pd.DataFrame(data=data_set, index=[0, 1, 2, 3])

   col1
0     0
1     1
2     2
3     3