**What is pandas?**

pandas is a powerful Python library used for working with structured data, especially tables <br>
(like spreadsheets or databases).

It makes it easy to load, analyze, clean, and manipulate data.

The next line tells Python to load the pandas library and give it an alias (a short name), pd, <br>
so you can use it more easily later in your code.

The OS doesn't want us to install or upgrade Python packages globally <br>
using pip since it could break important system tools that rely on <br>
specific package version.

In [5]:
!pip install pymoo

error: externally-managed-environment

× This environment is externally managed
╰─> To install Python packages system-wide, try apt install
    python3-xyz, where xyz is the package you are trying to
    install.

    If you wish to install a non-Debian-packaged Python package,
    create a virtual environment using python3 -m venv path/to/venv.
    Then use path/to/venv/bin/python and path/to/venv/bin/pip. Make
    sure you have python3-full installed.

    If you wish to install a non-Debian packaged Python application,
    it may be easiest to use pipx install xyz, which will manage a
    virtual environment for you. Make sure you have pipx installed.

    See /usr/share/doc/python3.12/README.venv for more information.

note: If you believe this is a mistake, please contact your Python installation or OS distribution provider. You can override this, at the risk of breaking your Python installation or OS, by passing --break-system-packages.
hint: See PEP 668 for the detailed specification.

Open a terminal window, and execute the subsequent command to <br>
create a virtual environment in your home directory, under ~/jupyterenv.

**python3 -m venv ~/jupyterenv**

In the same terminal window, run the following command to activate <br>
the virtual environment:

**source ~/jupyterenv/bin/activate**

Upgrade itself to the latest version:

**pip install --upgrade pip**

Install pymoo:

**pip install pymoo**

Install ipykernel:

**pip install ipykernel**

Registers your virtual environment (jupyterenv) as a new Jupyter kernel:

**python -m ipykernel install --user --name=jupyterenv --display-name "Python (jupyterenv)"**

Click on "Kernel" → Hover over "Change Kernel" → Select "Python (jupyterenv)"

**What is NumPy?**

NumPy stands for Numerical Python.

It's a popular library that helps Python work with numbers and large lists of data more efficiently.

It’s especially useful for scientific computing, data analysis, and machine learning.

The next line tells Python to load the NumPy library and give it an alias (a short name), <br>
np, so you can use it more easily later in your code.

In [2]:
import numpy as np

Remote a class being imported from the pymoo.util.remote module because that <br>
is where this Remote class is defined: <br>
https://github.com/anyoptimization/pymoo/blob/main/pymoo/util/remote.py

Remember that in Python and in most object-oriented programming languages, <br>
classes begin with a capital/uppercase letter.

The Remote class helps you load example datasets that are built into the pymoo <br>
library, so you can use them in your code without downloading anything yourself.

In [3]:
from pymoo.util.remote import Remote

The next line gets a sample data file that comes with the pymoo library and prepares <br>
it so you can use it in your code.

In [5]:
file = Remote.get_instance().load("examples", "portfolio_allocation.csv", to=None)

After running the below cell, let's observe the local file path.

In [11]:
file

'/home/deniz/jupyterenv/lib/python3.12/site-packages/pymoo/data/examples/portfolio_allocation.csv'

The local file path that can be seen in the output of running the above cell
indicates:

pymoo includes example data files as part of its package installation.

The file portfolio_allocation.csv is not being downloaded from an online remote <br>
repository.

This means the portfolio_allocation.csv file is bundled inside the pymoo package itself <br>
under the data/examples folder.

Let's break the above line down step by step:

**Remote.get_instance()**

get_instance() is a method that belongs to the Remote class.

This is clear as the word preceding .get_instance is "Remote", indicating that <br>
the name of the class is Remote.

The get_instance() method returns a singleton instance of the Remote class.

A singleton instance ensures that there's only one Remote object or instance of the <br>
Remote class throughout this entire program.

Think of it like: you only need one remote control to access all pymoo's built-in <br>
example files.

<br>

**"examples"**

This is the folder inside the pymoo folder on your local file system where <br>
example files are stored. Upon downloading pymoo, this folder was created.

<br>

**"portfolio_allocation.csv"**

This is the name of the file we want to load. It is located inside the **examples** folder.

<br>

**to=None**
**to** is a parameter of the .load() method.

**None** is the value we're passing to that parameter.

This tells pymoo:

Don’t save the portfolio_allocation.csv file to your computer’s disk, just load it temporarily <br>
in memory so we can access the data inside of it without creating any new files.

In [8]:
df = pd.read_csv(file, parse_dates=True, index_col="date")

Now, let's break down the above line step by step.

**pd.read_csv(...)**

This function reads a CSV (Comma-Separated Values) file and turns it into a <br>
DataFrame, which is like a table of data you can work with in Python.

<br>

**file**

This is the location of the CSV file we loaded earlier using the Remote.load() <br>
method.

<br>

**parse_dates=True**

This tells pandas:

If there's a column that contains dates (like 1989-12-29), convert it into a <br>
proper datetime object instead of just plain text.

datetime object in Python documentation: <br>
https://docs.python.org/3/library/datetime.html

<br>

**index_col="date"**

The portfolio_allocation.csv file has a column titled "date".

index_col is a parameter in the read_csv() method, and "date" is the value <br>
we're assigning to it.

index_col="date" tells pandas to use the "date" column as the index of the <br>
table, meaning the dates become the labels for each row.

This makes it easier to find and work with data for specific dates later on.

Run the cell below to see what the DataFrame df looks like.

This will help us visualize the data and understand what’s inside the table.

In [12]:
df

,GOOG,AAPL,FB,BABA,AMZN,GE,AMD,WMT,BAC,GM,T,UAA,SHLD,XOM,RRC,BBY,MA,PFE,JPM,SBUX
date,,,,,,,,,,,,,,,,,,,,
1989-12-29,NaN,0.117203,NaN,NaN,NaN,0.352438,3.9375,3.486070,1.752478,NaN,2.365775,NaN,NaN,1.766756,NaN,0.166287,NaN,0.110818,1.827968,NaN
1990-01-02,NaN,0.123853,NaN,NaN,NaN,0.364733,4.1250,3.660858,1.766686,NaN,2.398184,NaN,NaN,1.766756,NaN,0.173216,NaN,0.113209,1.835617,NaN
1990-01-03,NaN,0.124684,NaN,NaN,NaN,0.364050,4.0000,3.660858,1.780897,NaN,2.356516,NaN,NaN,1.749088,NaN,0.194001,NaN,0.113608,1.896803,NaN
1990-01-04,NaN,0.125100,NaN,NaN,NaN,0.362001,3.9375,3.641439,1.743005,NaN,2.403821,NaN,NaN,1.731422,NaN,0.190537,NaN,0.115402,1.904452,NaN
1990-01-05,NaN,0.125516,NaN,NaN,NaN,0.358586,3.8125,3.602595,1.705114,NaN,2.287973,NaN,NaN,1.722587,NaN,0.190537,NaN,0.114405,1.912100,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-04-05,1027.810059,172.800003,159.339996,172.570007,1451.750000,13.430000,10.0200,87.809998,30.320000,38.000000,35.632843,17.469999,2.97,76.019997,14.52,72.120003,175.550003,35.730000,111.879997,59.139999
2018-04-06,1007.039978,168.380005,157.199997,167.520004,1405.229980,13.060000,9.6100,86.690002,29.629999,37.680000,35.130001,16.980000,2.88,74.870003,13.97,70.489998,169.699997,35.169998,109.089996,58.340000
2018-04-09,1015.450012,170.050003,157.929993,169.869995,1406.079956,12.830000,9.5300,86.279999,29.870001,37.830002,35.169998,16.639999,2.82,74.870003,13.93,69.820000,170.339996,35.459999,110.400002,58.700001
2018-04-10,1031.640015,173.250000,165.039993,177.100006,1436.219971,13.050000,9.9800,86.449997,30.480000,39.070000,35.810001,16.820000,3.07,77.070000,14.78,71.720001,174.720001,35.950001,112.510002,59.410000
2018-04-11,1019.969971,172.440002,166.320007,175.360001,1427.050049,12.970000,9.8200,85.910004,29.900000,39.000000,35.250000,16.740000,3.30,77.430000,14.99,70.910004,172.360001,35.790001,110.620003,59.419998