In [2]:
import pandas as pd

In [3]:
# Create a sample DataFrame.
data = {
    "concatenated": ["A", "B", "A", "C", "B", "A"],
    "value": [10, 20, 15, 5, 25, 12]
}

df = pd.DataFrame(data)

# Group by "concatenated" and calculate
# the sum of "value" for each group.
grouped = df.groupby("concatenated")

sums = grouped["value"].sum()

print(sums)

concatenated
A    37
B    45
C     5
Name: value, dtype: int64

In [4]:
# Create a sample DataFrame.
data = {
    "concatenated": ["A", "B", "A", "C", "B", "A"]
}

df = pd.DataFrame(data)

# Calculate the occurrences of each value.
df["occurences"] = df.groupby("concatenated")[
  "concatenated"
].transform("count")

In [5]:
df

  concatenated  occurences
0            A           3
1            B           2
2            A           3
3            C           1
4            B           2
5            A           3